// app global css in Sass form

@font-face
  font-family: "Quran-Majeed"
  src: url('../assets/fonts/Quran-Majeed/Al-Qalam-Quran-Majeed.ttf')

@font-face
  font-family: "Uthmanic-Hafs"
  src: url('../assets/fonts/Uthmanic-Hafs/UthmanicHafs1-Ver09.otf')

@font-face
  font-family: "Uthman-Taha"
  src: url('../assets/fonts/Uthman-Taha/KFGQPC-Uthman-Taha-Naskh-Reguler.ttf')
  font-weight: normal

@font-face
  font-family: "Uthman-Taha"
  src: url('../assets/fonts/Uthman-Taha/KFGQPC-Uthman-Taha-Naskh-Bold.ttf')
  font-weight: bold

// Modules
@import modules/notify

.text-arabic
  font-family: "Quran-Majeed"

.quran-reader-detail
  .q-item__label.text-arabic
    font-size: 16pt
    line-height: 30pt !important
  .content
    min-height: 100vh
